<div class="welcome-page">
    <div class="o-grid">
        <div class="o-grid__col o-grid__col--fixed">
            <img src="assets/apps/default.png" alt="cit0s">
        </div>
        <div class="o-grid__col text-left u-ml-3">
            <h1>Citr0s</h1>
            <a href="https://discord.gg/BA4bcGQdRy">
            <div class="btn btn-discord">
                <img src="assets/apps/discord.png" alt="cit0s">
                Discord
            </div>
            </a>
            <a href="ts3server://ts3.citr0s.com?port=9987">
            <div class="btn btn-teamspeak3 u-ml-1">
                <img src="assets/apps/teamspeak3.png" alt="cit0s">
                TeamSpeak3
            </div>
            </a>
        </div>
    </div>
</div>