<div class="welcome-page">
    <div class="o-grid">
        <div class="o-grid__col o-grid__col--fixed">
            <iframe src="https://gamer2810.github.io/steam-miniprofile/?accountId=76561198044950293&appId=1808500" frameborder="0" style="width: 360px; height: 290px;"></iframe>
        </div>
        <div class="o-grid__col text-left u-ml-3">
            <div>
                <h1>Citr0s</h1>
            </div>
            <hr>
            <div>
                <h2>Voice Servers <small style="font-size:0.75rem; color:rgba(255, 255, 255, 0.25);">IP: ts3.citr0s.com</small></h2>
                <a href="https://discord.gg/BA4bcGQdRy" target="_blank">
                    <div class="btn btn-discord">
                        <img src="assets/apps/discord.png" alt="cit0s">
                        Discord
                    </div>
                </a>
                <a href="ts3server://ts3.citr0s.com?port=9987" target="_blank">
                    <div class="btn btn-teamspeak3 u-ml-1">
                        <img src="assets/apps/teamspeak3.png" alt="cit0s">
                        TeamSpeak3
                    </div>
                </a>
            </div>
            <hr>
            <div>
                <h2>Game Servers <small style="font-size:0.75rem; color:rgba(255, 255, 255, 0.25);">IP: server.citr0s.com</small></h2>
                <ul>
                    <li>Terraria</li>
                    <li>Minecraft Java</li>
                    <li>Minecraft Bedrock</li>
                    <li>Core Keeper</li>
                    <li>Open TTD</li>
                    <li>Factorio</li>
                </ul>
            </div>
        </div>
    </div>

    <iframe src="https://status.citr0s.com/status/default" class="status-iframe" frameborder="0" width="100%" height="100%" scrolling="no" allowtransparency="yes" style="overflow: hidden;margin: 15px auto;border: none;display: flex;width: 800px;height: 600px;"></iframe>

    <script type="application/javascript">
    
    function resizeIFrameToFitContent(iFrame) {
        iFrame.width  = iFrame.contentWindow.document.body.scrollWidth;
        iFrame.height = iFrame.contentWindow.document.body.scrollHeight;
    }
    
    window.addEventListener('DOMContentLoaded', function(e) {
        var iFrame = document.querySelector( '.status-iframe' );
        resizeIFrameToFitContent( iFrame );
    } );
    
    </script>
    
    <a title="Broadband Ping" href="https://www.thinkbroadband.com/broadband/monitoring/quality/share/8ff2150182b7f965ef64dfa4957dc434f6b20917" style="
    display: flex;
    align-items: center;
    justify-content: space-around;
">
        <img alt="My Broadband Ping - Lila Connect" src="https://www.thinkbroadband.com/broadband/monitoring/quality/share/8ff2150182b7f965ef64dfa4957dc434f6b20917-2.png" style="
    max-width: 100%;
    display: flex;
">
    </a>
    
</div>
